:root {
    --bg-color: #AAB3C0;
    --board: #875400;
    --lines: #FFF3DF;
    --player-1-color: #1A0B5D;
    --player-1-hover: #483892;
    --player-1-box: #6455AA;
    --player-2-color: #005A3D;
    --player-2-hover: #2A8D6D;
    --player-2-box: #46A485;

}

body {
    background-color: var(--bg-color);
    color: white;
    font-family: helvetica;
}

main {
    width: 900px;
    margin-left: 70px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    background-color: var(--board);
}

.box {
    width: 200px;
    height: 200px;
    background-color: var(--bg-color);
    text-align: center;
    font-size: 2em;
}

.hor-line-row {
    display:flex;
}

.box-row {
    display:flex;
}

.hor-line {
    width: 200px;
    height: 20px;
    margin-left: 20px;
    background-color: var(--lines);
}

.line-p1:hover {
    background-color: var(--player-1-hover);
}

.line-p2:hover {
    background-color: var(--player-2-hover);
}

.vert-line {
    width: 20px;
    height: 200px;
    background-color: var(--lines);
}
