:root {
    --bg-color: #6A605C;
    --board: #65544d;
    --lines: #6A605C;
    --player-1-color: #9B5094;
    --player-1-hover: #D5AED1;
    --player-1-box: #9A94BC;
    --player-2-color: #3DE1DB;
    --player-2-hover: #A7F1EF;
    --player-2-box: #96EEEC;

}

body {
    background-color: var(--bg-color);
    color: white;
    font-family: helvetica;
}

main {
    width: 900px;
    margin-left: 70px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    background-color: var(--board);
}

.box {
    width: 200px;
    height: 200px;
    background-color: var(--bg-color);
    text-align: center;
    font-size: 2em;
}

.hor-line-row {
    display:flex;
}

.box-row {
    display:flex;
}

.hor-line {
    width: 200px;
    height: 20px;
    margin-left: 20px;
    background-color: var(--lines);
}

.line-p1:hover {
    background-color: var(--player-1-hover);
}

.line-p2:hover {
    background-color: var(--player-2-hover);
}

.vert-line {
    width: 20px;
    height: 200px;
    background-color: var(--lines);
}