:root {
    --bg-color: #9c7a97;
    --board: #888DA7;
    --lines: #727897;
    --player-1-color: #303633;
    --player-2-color: #8BE8CB;
    --player-1-box: #56615B;
    --player-2-box: #BBF2E0;

}

body {
    background-color: var(--bg-color);
    color: white;
    font-family: helvetica;
}

main {
    width: 900px;
    margin-left: 70px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    background-color: var(--board);
}

.box {
    width: 200px;
    height: 200px;
    background-color: var(--board);
    text-align: center;
    font-size: 2em;
}

.hor-line-row {
    display:flex;
}

.box-row {
    display:flex;
}

.hor-line {
    width: 200px;
    height: 20px;
    margin-left: 20px;
    background-color: var(--lines);
}

.vert-line {
    width: 20px;
    height: 200px;
    background-color: var(--lines);
}