body {
    background-color: gray;
    color: white;
    font-family: helvetica;
}

main {
    width: 900px;
    margin-left: 70px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    background-color: darkslategray
}

.box {
    width: 200px;
    height: 200px;
    background-color: darkslategray;
    text-align: center;
    font-size: 2em;
}

.hor-line-row {
    display:flex;
}

.box-row {
    display:flex;
}

.hor-line {
    width: 200px;
    height: 20px;
    margin-left: 20px;
    background-color: turquoise;
}

.vert-line {
    width: 20px;
    height: 200px;
    background-color: turquoise;
}